<!DOCTYPE html>
<html>
    <head>
        <title>Documentation</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/<%= options.theme || "paper" %>/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".search").keyup(search);
                $(".search").change(search);
                search();
                
                function search() {
                    var search = $(".search").val().trim();
                    $(".no-calls").hide();
                    if (search == "") $(".call").show();
                    else {
                        $(".call").hide();
                        $(".call:contains('" + search + "')").show();
                        if ($(".call:visible").length == 0) {
                            $(".no-calls").show();
                        }
                    }
                }
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control search" placeholder="Search">
                        </div>
                    </form>
                    <div class="navbar-right">
                        <%_ 
                            if (options.doclinks) { 
                        _%>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Docs <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><b><small>Human</small></b></a></li>
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">Markdown</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><b><small>Machine</small></b></a></li>
                                    <li><a href="#">WSDL</a></li>
                                </ul>
                            </li>
                        </ul>
                        <%_ 
                            } 
                            
                            if (options.clientlinks) { 
                        _%>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Clients <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><b><small>Javascript</small></b></a></li>
                                    <li><a href="#">jQuery</a></li>
                                    <li><a href="#">AngularJS</a></li>
                                    <li><a href="#">Node.js</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><b><small>JRE</small></b></a></li>
                                    <li><a href="#">Java</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><b><small>.NET</small></b></a></li>
                                    <li><a href="#">C#</a></li>
                                </ul>
                            </li>
                        </ul>
                        <%_ 
                            } 
                            
                            if (options.logout) { 
                        _%>
                        <ul class="nav navbar-nav">
                            <li><a href="<%= options.logout %>">Logout</a></li>
                        </ul>
                        <%_ 
                            } 
                        _%>
                    </div>
                </div>
            </div>
        </nav>
        
        <%_
            routers.forEach(function(router) { 
        _%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        <small>
                            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                        </small>
                        <%= router.namespace || "" %>
                        <small>
                            <%= router.paths().join(', ') %>
                        </small>
                    </h1>
                    <p>
                        <span class="glyphicon glyphicon-info-sign text-muted"></span>
                    <%_ if (router.description) { _%>
                        <%= router.description %>
                    <%_ } else { _%>
                        <em class="text-muted">No description.</em>
                    <%_ } _%>
                        <%_ if (router.autenticated) { _%>
                            <span class="label label-danger text-uppercase pull-right">
                                <span class="glyphicon glyphicon-lock"></span>
                                <%= router.privileges ? router.privileges.join(',') : "Secure" %>
                            </span>
                        <%_ } _%>
                        <span class="label label-primary text-uppercase pull-right">
                            <span class="glyphicon glyphicon-duplicate"></span>
                            <%= router.calls.length %> call(s)
                        </span>
                    </p>
                    <%_
                        router.calls.forEach(function(call) { 
                    _%>
                    <div class="call panel panel-default">
                        <div class="panel-heading">
                            <%_ 
                                if (call.authenticated || router.authenticated) { 
                                    var privileges = call.privileges || [ ];
                                    if (router.privileges) {
                                        privileges = router.privileges.union(privileges).compact(true);
                                    }
                            _%>
                            <span class="label label-danger pull-right text-uppercase" style="margin-top: 12px;">
                                <span class="glyphicon glyphicon-lock"></span>
                                <%= privileges.length ? privileges.join(',') : "Secure" %>
                            </span>
                            <%_ } _%>
                            <h5>
                                <b><%= call.title %></b>
                                <small class="text-muted">
                                    (<%= Object.keys(call.inputs).join(', ') %>)
                                </small>
                            </h5>
                        </div>
                        <div class="panel-body">
                            <%_ if (call.description) { _%>
                            <div>
                                <span class="glyphicon glyphicon-info-sign text-muted"></span>
                                <%= call.description %>
                            </div>
                            <%_ } _%>
                            <h6 class="text-uppercase">
                                <small>
                                    <span class="glyphicon glyphicon-link"></span>
                                    <b>Routes</b>
                                </small>
                            </h6>
                            <div class="btn-group" data-toggle="buttons">
                            <%_ 
                                call.routes.forEach(function(route) { 
                                    router.paths().forEach(function(path) {
                            _%>
                                <label class="btn btn-default">
                                    <span class="glyphicon glyphicon-random text-muted"></span>&nbsp;
                                    <input type="radio" name="<%= call.title.parameterize() %>" autocomplete="off">
                                    <%= route.first().toUpperCase() + " " + (path == "/" ? "" : path) + route.last() %>
                                </label>
                            <%_ 
                                    }) 
                                })
                            _%>
                            </div>
                            <p>&nbsp;</p>
                            <h6 class="text-uppercase">
                                <small>
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <b>Params</b>
                                </small>
                            </h6>
                            <form>
                                <div class="form-group">
                            <%_ 
                                Object.keys(call.inputs).forEach(function(name) { 
                                    var input = call.inputs[name];
                            _%>
                                    <input type="text" class="form-control" placeholder="<%= name %>">
                                    <div>
                                        <%_ if (input.type) { _%>
                                        <span class="label label-success pull-right text-uppercase">
                                            <%_ 
                                                var icons = { 
                                                    phone: "glyphicon glyphicon-earphone",
                                                    email: "glyphicon glyphicon-envelope",
                                                    uuid: "glyphicon glyphicon-qrcode",
                                                    date: "glyphicon glyphicon-calendar",
                                                    currency: "glyphicon glyphicon-usd",
                                                    url: "glyphicon glyphicon-globe",
                                                    domain: "glyphicon glyphicon-globe",
                                                    ip: "glyphicon glyphicon-globe",
                                                    mac: "glyphicon glyphicon-globe",
                                                    text: "glyphicon glyphicons-text-background",
                                                    json: "glyphicon glyphicon-gift",
                                                    integer: "glyphicons-hash",
                                                    number: "glyphicons-hash",
                                                    boolean: "glyphicon glyphicon-check",
                                                    creditcard: "glyphicon glyphicons-credit-card",
                                                    ascii: "glyphicon glyphicons-text-color",
                                                    alphanumeric: "glyphicon glyphicons-text-background",
                                                    alpha: "glyphicon glyphicons-text-background",
                                                    hexcolor: "glyphicon glyphicon-pencil",
                                                    location: "glyphicon glyphicon-map-marker"
                                                };
                                            
                                                if (icons[input.type]) {
                                            _%>
                                            <span class="<%= icons[input.type] %>"></span>
                                            <%_ } _%>
                                            <%= input.type %>
                                        </span>
                                        <%_ } _%>
                                        <%_ if (input.required) { _%>
                                        <span class="label label-warning pull-right text-uppercase">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            required
                                        </span>
                                        <%_ } _%>
                                        <%_ if (input.abort) { _%>
                                        <span class="label label-danger pull-right text-uppercase">
                                            <span class="glyphicon glyphicon-warning-sign"></span>
                                            critical
                                        </span>
                                        <%_ } _%>
                                        <%_ if (input.description) { _%>
                                        <p>
                                            <span class="glyphicon glyphicon-hand-right"></span>
                                            <em><%= input.description %></em>
                                        </p>
                                        <%_ } _%>
                                    </div>
                            <%_ 
                                }) 
                            _%>
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-flash"></span>&nbsp;
                                        Test Request
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <%_ 
                        });
                    _%>
                    <div class="no-calls alert alert-danger" role="alert" style="display: none;">
                        There are no calls that match your search.
                    </div>
                </div>
            </div>
        </div>
        <%_ 
            });
        _%>

        <h6 class="text-center text-muted">
            <small>Auto-Generated at <%= new Date() %>.</small>
        </h6>
    </body>
</html>