<!DOCTYPE html>
<html>
    <head>
        <title>Documentation</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/<%= options.theme || "paper" %>/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".search").keyup(search);
                $(".search").change(search);
                search();
                
                function search() {
                    var search = $(".search").val().trim();
                    $(".no-calls").hide();
                    if (search == "") $(".call").show();
                    else {
                        $(".call").hide();
                        $(".call:contains('" + search + "')").show();
                        if ($(".call:visible").length == 0) {
                            $(".no-calls").show();
                        }
                    }
                }
                
                function showResults(results) {
                    $('.results').html(JSON.stringify(results, null, '\t'));
                    $('.modal').modal('show');
                }
                
                $("form").on("submit", function(e){
                    e.preventDefault();
                });
                
                $(".test").on("click", function() {
                    var selected = $(this).closest(".call").find(".urls .active"),
                        method = selected.data("method"),
                        url = selected.data("url"),
                        params = { },
                        fields = $(this).closest("form").serializeArray();
                    
                    fields.forEach(function(param) {
                        params[param.name] = param.value;
                    });
                    
                    $.ajax({
                        method: method,
                        url: url,
                        data: params,
                        dataType: "json",
                        success: function(data, status, xhr) {
                            showResults(data);
                        },
                        error: function(xhr, status, error) {
                            showResults(xhr);
                        }
                    })
                });
                
                $(".ag-link").on("click", function(e) {
                    e.preventDefault();
                    
                    var href = $(this).attr("href") + "&filter=" + $(".search").val().trim();
                    document.location = href;
                });
                
                $(".panel-heading").on("click", function() {
                    $(this).parent().find(".panel-body").toggle();
                });
            });
        </script>
        <%_ if (options.icon) { _%>
        <link rel="icon" href="<%= options.icon %>" />
        <%_ } _%>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%_ if (options.links) { _%>
                    <a class="navbar-brand" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <%_ options.links.each(function(link, i) { _%>
                        <li><a href="<%= link.href || "#" %>"><%- link.content %></a></li>
                        <%_ if (i < options.links.length - 1) { _%>
                        <li role="separator" class="divider"></li>
                        <%_ } _%>
                        <%_ }) _%>
                    </ul>
                    <%_ } else { _%>
                    <a class="navbar-brand" href="#">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>
                    <%_ } _%>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control search" placeholder="Search">
                        </div>
                    </form>
                    <div class="navbar-right">
                        <%_ 
                            if (options.docs) { 
                        _%>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Docs <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="ag-link" href="<%= options.docs %>?format=html">HTML</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="ag-link" href="<%= options.docs %>?format=json">JSON</a></li>
                                </ul>
                            </li>
                        </ul>
                        <%_ 
                            } 
                            
                            if (options.clients) { 
                        _%>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Clients <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="ag-link" href="<%= options.clients %>?format=jquery">jQuery</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="ag-link" href="<%= options.clients %>?format=angular">AngularJS</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="ag-link" href="<%= options.clients %>?format=node">Node.js</a></li>
                                </ul>
                            </li>
                        </ul>
                        <%_ 
                            } 
                            
                            if (options.logout) { 
                        _%>
                        <ul class="nav navbar-nav">
                            <li><a href="<%= options.logout %>">Logout</a></li>
                        </ul>
                        <%_ 
                            } 
                        _%>
                    </div>
                </div>
            </div>
        </nav>
        
        <%_
            routers.forEach(function(router) { 
        _%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        <small>
                            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                        </small>
                        <%= router.namespace || "" %>
                        <small>
                            <%= router.paths().join(', ') %>
                        </small>
                    </h1>
                    <p>
                        <span class="glyphicon glyphicon-info-sign text-muted"></span>
                    <%_ if (router.description) { _%>
                        <%= router.description %>
                    <%_ } else { _%>
                        <em class="text-muted">No description.</em>
                    <%_ } _%>
                        <%_ if (router.autenticated) { _%>
                            <span class="label label-danger text-uppercase pull-right">
                                <span class="glyphicon glyphicon-lock"></span>
                                <%= router.privileges ? router.privileges.join(',') : "Secure" %>
                            </span>
                        <%_ } _%>
                        <span class="label label-primary text-uppercase pull-right">
                            <span class="glyphicon glyphicon-duplicate"></span>
                            <%= router.calls.length %> call(s)
                        </span>
                    </p>
                    <%_
                        router.calls.forEach(function(call) { 
                    _%>
                    <div class="call panel panel-default">
                        <div class="panel-heading" style="cursor: pointer;">
                            <%_ 
                                if (call.authenticated || router.authenticated) { 
                                    var privileges = call.privileges || [ ];
                                    if (router.privileges) {
                                        privileges = router.privileges.union(privileges).compact(true);
                                    }
                            _%>
                            <span class="label label-danger pull-right text-uppercase" style="margin-top: 12px;">
                                <span class="glyphicon glyphicon-lock"></span>
                                <%= privileges.length ? privileges.join(',') : "Secure" %>
                            </span>
                            <%_ } _%>
                            <h5>
                                <small class="text-muted">
                                    <span class="glyphicon glyphicon-transfer"></span>&nbsp;
                                </small>
                                <b><%= call.title %></b>
                                <small class="text-muted">
                                    (<%= Object.keys(call.inputs).join(', ') %>)
                                </small>
                            </h5>
                        </div>
                        <div class="panel-body" style="display: none;">
                            <%_ if (call.description) { _%>
                            <div>
                                <span class="glyphicon glyphicon-info-sign text-muted"></span>
                                <%= call.description %>
                            </div>
                            <%_ } _%>
                            <h6 class="text-uppercase">
                                <small>
                                    <span class="glyphicon glyphicon-link"></span>
                                    <b>Routes</b>
                                </small>
                            </h6>
                            <div class="btn-group urls" data-toggle="buttons">
                            <%_ 
                                var checked = true;
                                call.routes.forEach(function(route) { 
                                    router.paths().forEach(function(path) {
                            _%>
                                <label class="btn btn-default <%= checked ? 'active' : '' %>" data-method="<%= route.first().toUpperCase() %>" data-url="<%= (path == "/" ? "" : path) + route.last() %>">
                                    <input type="radio" name="url" autocomplete="off" <%= checked ? 'checked' : '' %>>
                                    <span class="label label-default"><%= route.first().toUpperCase() %></span>&nbsp;
                                    <%= (path == "/" ? "" : path) + route.last() %>
                                </label>
                            <%_ 
                                        checked = false;
                                    }) 
                                })
                            _%>
                            </div>
                            <p>&nbsp;</p>
                            <h6 class="text-uppercase">
                                <small>
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <b>Params</b>
                                </small>
                            </h6>
                            <form>
                                <div class="form-group">
                            <%_ 
                                Object.keys(call.inputs).forEach(function(name) { 
                                    var input = call.inputs[name];
                            _%>
                                    <input type="text" class="form-control" name="<%= name %>" placeholder="<%= name %>">
                                    <div>
                                        <%_ if (input.type) { _%>
                                        <span class="label label-success pull-right text-uppercase">
                                            <%_ 
                                                var icons = { 
                                                    phone: "glyphicon glyphicon-earphone",
                                                    email: "glyphicon glyphicon-envelope",
                                                    uuid: "glyphicon glyphicon-qrcode",
                                                    date: "glyphicon glyphicon-calendar",
                                                    currency: "glyphicon glyphicon-usd",
                                                    url: "glyphicon glyphicon-globe",
                                                    domain: "glyphicon glyphicon-globe",
                                                    ip: "glyphicon glyphicon-globe",
                                                    mac: "glyphicon glyphicon-globe",
                                                    text: "glyphicon glyphicons-text-background",
                                                    json: "glyphicon glyphicon-gift",
                                                    integer: "glyphicons-hash",
                                                    number: "glyphicons-hash",
                                                    boolean: "glyphicon glyphicon-check",
                                                    creditcard: "glyphicon glyphicons-credit-card",
                                                    ascii: "glyphicon glyphicons-text-color",
                                                    alphanumeric: "glyphicon glyphicons-text-background",
                                                    alpha: "glyphicon glyphicons-text-background",
                                                    hexcolor: "glyphicon glyphicon-pencil",
                                                    location: "glyphicon glyphicon-map-marker"
                                                };
                                            
                                                if (icons[input.type]) {
                                            _%>
                                            <span class="<%= icons[input.type] %>"></span>
                                            <%_ } _%>
                                            <%= input.type %>
                                        </span>
                                        <%_ } _%>
                                        <%_ if (input.required) { _%>
                                        <span class="label label-warning pull-right text-uppercase">
                                            <span class="glyphicon glyphicon-ok"></span>
                                            required
                                        </span>
                                        <%_ } _%>
                                        <%_ if (input.abort) { _%>
                                        <span class="label label-danger pull-right text-uppercase">
                                            <span class="glyphicon glyphicon-warning-sign"></span>
                                            critical
                                        </span>
                                        <%_ } _%>
                                        <%_ if (input.description) { _%>
                                        <p>
                                            <span class="glyphicon glyphicon-hand-right"></span>
                                            <em><%= input.description %></em>
                                        </p>
                                        <%_ } else { _%>
                                        <p>&nbsp;</p>
                                        <%_ } _%>
                                    </div>
                            <%_ 
                                }) 
                            _%>
                                    <button type="submit" class="btn btn-sm btn-default test">
                                        <span class="glyphicon glyphicon-flash"></span>&nbsp;
                                        Test Request
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <%_ 
                        });
                    _%>
                    <div class="no-calls alert alert-danger" role="alert" style="display: none;">
                        There are no calls that match your search.
                    </div>
                </div>
            </div>
        </div>
        <%_ 
            });
        _%>

        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Results</h4>
                    </div>
                    <div class="modal-body">
                        <pre class="pre-scrollable results">
                        
                        </pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <h6 class="text-center text-muted">
            <small>Auto-Generated at <%= new Date() %>.</small>
        </h6>
    </body>
</html>